.navbar-bg{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
.nav-link{
    font-size: 25px;
    color: white !important;
    margin-right: 15px;
    transition: .3s;
}
.nav-link:hover{
    background-color: tomato;
    border-radius: 5px;
}